.countryContainer{
    border: none;
    border-radius: 4%;
    margin: 1em auto;
    width: 50%;
    border: solid 1px #fafafa70;
    background-color: rgba(196, 224, 196, 0.95);
    color: rgb(255, 255, 255);
    margin: 6% auto;
}
.imgContainer img{
    width: 150px;
    height: 100px;
    border-radius: 4%;
}

.butn {
    display: inline-block;
    padding:0.35em 1.2em ;
    border:0.1em solid #838383;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    font-size: larger;
    width: 8%;
}
    
.butn:hover{
    color: rgb(255, 255, 255);
    background-color: #b4bbe9;
}
  